body{
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.confetti{
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
    animation: fall linear infinite;
}

@keyframes fall{
    0%{
        transform: translateY(0) rotate(0);
    } 
    100%{
        transform: translateY(100vh) rotate(360deg);
    }
}